<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Receita</h1>
  
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="2">Cantina</th>
        <th colspan="2">Loja</th>
        <th colspan="2">Rifa</th>
        <th colspan="2">Doação</th>
        <th colspan="3"></th>
      </tr>
      <tr>
        <th>Date</th>
        <th>Dinheiro</th>
        <th>Cartão</th>
        <th>Dinheiro</th>
        <th>Cartão</th>
        <th>Dinheiro</th>
        <th>Cartão</th>
        <th>Dinheiro</th>
        <th>Cartão</th>
        <th colspan="3">Opção</th>
      </tr>
    </thead>
  
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.date %></td>
          <td><%= recipe.canteen_money %></td>
          <td><%= recipe.canteen_card %></td>
          <td><%= recipe.store_money %></td>
          <td><%= recipe.store_card %></td>
          <td><%= recipe.raffle_money %></td>
          <td><%= recipe.raffle_card %></td>
          <td><%= recipe.donation_money %></td>
          <td><%= recipe.donation_card %></td>
          <td><%= link_to 'Editar', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Excluir', recipe, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Novo', new_recipe_path, class: "button" %>
  <%= link_to 'Voltar', home_closure_view_url, class: "button" %>
</div>