<div class= "container">
  <h1>Relatório das Despesas</h1>
  
  <div class="field">
    <%= "Data inicial" %>
    <%= text_field(:primary_parameter, "Data Inicial") %>
    
    <%= "Data Final" %>
    <%= text_field(:second_parameter, "Data Final") %>
  </div>
  
  <p>
    <%= link_to 'Gerar', "", class: "button" %>
    <%= link_to 'Voltar', report_index_report_url, class: "button" %>
  </p>
</div>