<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @expense.energy %>
</p>

<p>
  <strong>Wather:</strong>
  <%= @expense.wather %>
</p>

<p>
  <strong>For rent:</strong>
  <%= @expense.for_rent %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @expense.internet %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @expense.phone %>
</p>

<p>
  <strong>Safety:</strong>
  <%= @expense.safety %>
</p>

<p>
  <strong>Store:</strong>
  <%= @expense.store %>
</p>

<p>
  <strong>Donation:</strong>
  <%= @expense.donation %>
</p>

<p>
  <strong>Cleaning:</strong>
  <%= @expense.cleaning %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @expense.hp %>
</p>

<p>
  <strong>Bazaar:</strong>
  <%= @expense.bazaar %>
</p>

<p>
  <strong>Stationary:</strong>
  <%= @expense.stationary %>
</p>

<p>
  <strong>Cost with consultants:</strong>
  <%= @expense.cost_with_consultants %>
</p>

<p>
  <strong>Healing house:</strong>
  <%= @expense.healing_house %>
</p>

<p>
  <strong>Food:</strong>
  <%= @expense.food %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
