<p id="notice"><%= notice %></p>

<h1>Listing Solidarities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Money</th>
      <th>Card</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solidarities.each do |solidarity| %>
      <tr>
        <td><%= solidarity.name %></td>
        <td><%= solidarity.money %></td>
        <td><%= solidarity.card %></td>
        <td><%= solidarity.recipe %></td>
        <td><%= link_to 'Show', solidarity %></td>
        <td><%= link_to 'Edit', edit_solidarity_path(solidarity) %></td>
        <td><%= link_to 'Destroy', solidarity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solidarity', new_solidarity_path %>
